<app-navbar></app-navbar>
<div class="container">
  <div class="mt-3 p-4">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="col-1">Task ID</th>
          <th scope="col" class="col-2">Title</th>
          <th scope="col" class="col-4">Description</th>
          <th scope="col" class="col-2">Due date</th>
          <th scope="col" class="col-2">Completed</th>
          <th scope="col" class="col-2">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tasks; let i = index">
          <th>{{ i + 1 }}</th>
          <td>{{ item.title }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.dueDate }}</td>
          <td>{{ item.status }}</td>
          <td>
            <button
              type="button"
              class="btn btn-dark p-1"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="openTaskDetails(item)"
            >
              View task
            </button>
          </td>
          <td>
            <button
              type="button"
              (click)="onUpdateClick()"
              class="btn btn-dark p-1"
            >
              Update
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- modal for viewing task details -->
<div
  class="modal fade w-100"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Task Details</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="d-flex">
          <p class="fw-bold">Task :</p>
          <p>{{ selectedTask?.title }}</p>
        </div>
        <div class="d-flex">
          <p class="fw-bold">Description:</p>
          <p>{{ selectedTask?.description }}</p>
        </div>
        <div class="d-flex">
          <p class="fw-bold">Completed</p>
          :
          <p>{{ selectedTask?.status }}</p>
        </div>
        <div class="d-flex">
          <p class="fw-bold">Due Date :</p>
          <p>{{ selectedTask?.dueDate }}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
